
#scoreboard {
   border: 1px solid black;
   border-radius: 3px;
   margin-bottom: 15px;
   width: 100%;
}

#pitchCount {
  border: 1px solid black;
  margin-bottom: 15px;
}

.count{
  width: 50px;
}

.firstRow {
  width: 100px;
}

.pitchCount {
   width: 100px;

}

#away{
    background-color: white;
}
#home {
    background-color: white;
}

.title {
  border: 3px dashed red;
  border-radius: 15px;
  color: rgba(223, 231, 15, 1);
  margin: 0 auto;
  margin-bottom: 15px;
  text-align: center;
  width: 300px;
  font-size: 30px;
  font-family: 'Monda';
  padding: 3px 20px;
}

h1, h2, h3, h4, h5, h6, p, div, span, input, tr, td, th, button, input {
  font-family: 'Doppio One', 'Monda';
}

td{ text-align: center;
    padding: 2px;
 }

.spacer {
  margin-top: 100px;
}

