/*styles for the stopwatches and the bases*/
#a-time {
  color: red;
  font-size: 2em;
  height: 70px;
  margin-bottom: 0px;
  margin-left: 230px;
  margin-top: 50px;
  outline: 1px solid black;
  width: 200px;
  display: inline-block;
}

#base.third_base {
  background-color: white;
  float: left;
  height: 75px;
  margin: 75px;
  margin-left: 120px;
  margin-top: -20px;
  width: 75px
  
}

#base.home_plate {
  background-color: white;
  clear: left;
  float: right;
  height: 75px;
  margin-right: 40px;
  margin-top: -20px;
  width: 75px;
}

#base.first_base {
  background-color: white;
  float: right;
  height: 75px;
  margin-left: 100px;
  margin-bottom: 20px;
  margin-right: 40px;
  width: 75px;
  margin-top: 140px;
}

.active {
  background-color: yellow;
}


#base.second_base {
  background-color: white; 
  float: left;
  height: 75px;
  margin-top: 150px;
  margin-left: 150px;
  width: 75px;
}


#timeBtn {
  display: inline-block;
  background-color: lightgray;
  border: 1px solid royalblue;
  border-radius: 10px;
  font-size: medium;
  font-weight: 800;
  margin-left: 342px;
  margin-top: 0px;
  transform: rotate(-45deg);
  padding: 8px 20px;

}

.container {
   background-color: darkgoldenrod;
  width: 500px;
  height: 500px;
  margin-left: 31%;
  margin-top: -175px;
  transform: rotate(45deg);
  border-radius: 30em 5em 5em
}

.stopwatch span {
  font-weight: bold;
}




